*{
    padding: 0em;
    margin: 0em;
}
:root{
    --bgcolor: #0365AE;
    --txtcolor: #fff;
    --breadcolor: #163F77;
    --newscolor: #F3C42B;
    --newstxtcolor: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #fff;
    --linkcolor: #fff;
    --visitedcolor: #f3c42b;
}
html,body{
    font-size: 100%; /* Lascio libertà all'utente*/
    font-family: "Verdana",sans-serif;
    line-height: 1.5em;
    margin:auto;
    background-color: var(--bgcolor);
    color:var(--txtcolor);
}
body{
    max-width: 1024px;
    border: 1px solid #000;
    background-color: var(--bgcolor);
}
html{
    background-image: url("images/bg.webp");
    background-size: contain; /* si adatta alla dimensione dello schermo*/
}
header{
    color: var(--txtcolor);
    text-align: center;
    padding: 1.0em;
    padding-top: 0.7em;
}
header >h2{
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 00.3em;
}
#breadcrumb{
    background-color:var(--breadcolor);
    color:var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1em;
    border: 1px solid #000;
}
#menu{
    float:left;
    font-size: 1.3em;
    padding: 0.8em;
    width: 25%; /* la somma non deve fare 100 per gli effetti degli arrotondamenti */
}
#menu a:link{
    color:var(--linkcolor);
}
#menu a:visited{
    color:var(--visitedcolor);
}
#menu ul{
    list-style-type: none;
}
aside{
    float:right;
    width: 20%; 
    padding: 0.3em;
    margin: 0.4em;
    background-color: #0365AE;
}
aside > h2{
    background-color:var(--newscolor) ;
    color:var(--contentxtcolor);
}
main{
   color:var(--newstxtcolor);
   background-color: var(--contentbgcolor);
   margin-left: 28%;
   width: 50%;
}
footer{
    background-color: var(--breadcolor);
    color:var(--txtcolor);
    text-align: center;
    padding: 1.0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
}
footer p{
    display:inline;
}
#aside{
    margin-left: 28%;
    background-color: var(--contentbgcolor);
}
